/.idea/
/02_secured_kafka_brokers/certificates/broker-*/broker-*.crt
/02_secured_kafka_brokers/certificates/broker-*/broker-*.csr
/02_secured_kafka_brokers/certificates/broker-*/broker-*.key
/02_secured_kafka_brokers/certificates/broker-*/broker-*.p12
/02_secured_kafka_brokers/certificates/broker-*/kafka.keystore.jks
/02_secured_kafka_brokers/certificates/broker-*/kafka.truststore.jks
/00_kcm_with_docker_compose/data/files/KAFKA_CLUSTER/
/02_secured_kafka_brokers/certificates/ca/ca.key
/02_secured_kafka_brokers/certificates/ca/ca.pem
/02_secured_kafka_brokers/certificates/ca/ca.srl
